<h1>Instance Word Checker</h1>
<form action="/form" method="post">
  <label for="originalWord">Please enter a word:</label>
  <input type="text" name="originalWord">
  <label for="InstanceWord">Please enter your words:</label>
  <input type="text" name="InstanceWord">
  <button type="submit">Submit</button>
</form>
